<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IngenicoPOS" version="1.0.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0-preview.6.22324.4" targetFramework="net471" />
  <package id="NLog" version="4.3.7" targetFramework="net471" />
  <package id="Nager.TcpClient" version="1.0.15" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.2-beta1" targetFramework="net471" />
  <package id="System.IO.Ports" version="7.0.0-preview.6.22324.4" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="7.0.0-preview.6.22324.4" targetFramework="net471" />
  <package id="System.Memory" version="4.5.5" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview5.19224.8" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0-preview.6.22324.4" targetFramework="net471" />
</packages>