<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.1" targetFramework="net471" />
  <package id="NLog" version="4.3.7" targetFramework="net471" />
  <package id="Nager.TcpClient" version="1.0.15" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net471" />
  <package id="System.IO.Ports" version="6.0.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.5" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net471" />
</packages>